img {
    width: 80%;
    padding-top: 20px;
    border-radius: 50%;
}
footer{
    margin-top: auto;
}
header{
    margin-top: 10px;
    text-align: center;
    color: aquamarine;
}
.container{
    margin-top: 30px;
}

body {
    background-color: #5c5470;
    color: beige;
}
h2{
    height: 12px;
    text-align: center;
    color: lightskyblue;
}
.col-7{
    padding-top: 20px;
}

.info-project{
    text-align: center;
    color: lightpink;
    margin: 50px 20px 0 20px;
}